body {
  overflow-x: hidden;
}


.components {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.component {
  width: calc(25% - 16px);
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transform: scale(1.0);
  position: realtive;
}

.component:hover {
  transform: scale(1.05);
}

.component img {
  width: 100%;
}

.component .original {
  filter: brightness(50%)
}

.component .clipped {
  position: absolute;
  width: 100%;
  top: 0;
}
  
.component span {
  margin-top: 4px;
}